
    <link rel="stylesheet" href="/assets/home/css/comment.css">

    <img src="/assets/home/images/video6.png" style="width:100%;">
    <div class="weui-cells__title" style="font-size:16px;">Vue基础课程</div>
    <form method="post">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="请输入内容" name="content" rows="3"></textarea>
                    <div class="weui-textarea-counter"><span>0</span>/200</div>
                </div>
            </div>
        </div>
        <div class="action">
            <button type="submit" class="mui-btn mui-btn-primary">立即提交</button>
        </div>
    </form>
<script>
    $('form').on('submit', function(event) {
        event.preventDefault();
        var content=this.content.value;
        $.ajax({
            url:"{:url('home/business/comment')}",
            type:'post',
            dataType:'json',
            data:{'content':content,'sid':"{$sid}"},
            success:(resu)=>{
                mui.toast(resu.msg)
            }
        })
    });

</script>
