/nbproject/
/thinkphp/
/vendor/
/runtime/*
/addons/*
/public/assets/libs/
/public/assets/addons/*
/public/uploads/*
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
node_modules
.user.ini
.zip
MOBI-课程购买.zip
静态模板
/public/assets/css/*
/public/assets/fonts/*
/public/assets/less/*
/public/assets/img/*
/public/assets/home/*
# !/assets/
/uploads/*
