
    <link rel="stylesheet" href="/assets/home/css/swiper-bundle.css">
    <link rel="stylesheet" href="/assets/home/css/reset.css">
    <link rel="stylesheet" href="/assets/home/css/contact.css">
    <script src="/assets/home/js/swiper-bundle.min.js"></script>


    <div class="mui-content">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a class="imgs">
                        <img src="/assets/home/images/video5.png">
                        <p class="mui-slider-title">Javascript从零开始</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="imgs">
                        <img src="/assets/home/images/video3.png">
                        <p class="mui-slider-title">Javascript从零开始1111</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="imgs">
                        <img src="/assets/home/images/video2.png">
                        <p class="mui-slider-title">Javascript从零开始222</p>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination" style="text-align: right;"></div>
        </div>
    </div>

    <table class="list">
       
        <tr class="price">
            <td>公司地址</td>
            <td>{$address}</td>
        </tr>
        <tr>
            <td>联系电话</td>
            <td>{$phone}</td>
        </tr>
        <tr>
            <td>公司邮箱</td>
            <td>{$email}</td>
        </tr>
    </table>

    <div style="text-align: center;margin:5px 0px;border: 1px solid red;height: 300px;">
        <!-- 可以在嵌入一个地图插件进来 -->
        <div id="container" style="width: 100%;height: 100%;"></div>
            <!-- <img src="./img/图层 12.png" alt="" /> -->
        <div class="rt">
    </div>

<script>
    var swiper = new Swiper(".mySwiper", {
        pagination: {
            el: ".swiper-pagination",
        },
    });
    function loadJScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src =
        "http://api.map.baidu.com/api?type=webgl&v=1.0&ak=WwUVBMlQ1FbSyOn3yZsUizQTxDVHWhZr&callback=init";
      document.body.appendChild(script);
    }
    function init() {
      var map = new BMapGL.Map("container"); // 创建Map实例
      var point = new BMapGL.Point(113.27143, 23.13534); // 创建点坐标
      map.centerAndZoom(point, 10);
      map.enableScrollWheelZoom(); // 启用滚轮放大缩小
    }
    window.onload = loadJScript; // 异步加载地图
</script>