
    <link rel="stylesheet" href="/assets/home/css/swiper-bundle.css">
    <link rel="stylesheet" href="/assets/home/css/reset.css">
    <link rel="stylesheet" href="/assets/home/css/contact.css">
    <script src="/assets/home/js/swiper-bundle.min.js"></script>


    <div class="mui-content">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a class="imgs">
                        <img src="/assets/home/images/video5.png">
                        <p class="mui-slider-title">Javascript从零开始</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="imgs">
                        <img src="/assets/home/images/video3.png">
                        <p class="mui-slider-title">Javascript从零开始1111</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="imgs">
                        <img src="/assets/home/images/video2.png">
                        <p class="mui-slider-title">Javascript从零开始222</p>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination" style="text-align: right;"></div>
        </div>
    </div>

    <table class="list">
        <tr>
            <td>市场销售</td>
            <td>185-1242-1111</td>
        </tr>
        <tr class="price">
            <td>技术支持</td>
            <td>139-1234-5678</td>
        </tr>
        <tr>
            <td>产品售后</td>
            <td>178-1422-3211</td>
        </tr>
        <tr>
            <td>市场销售</td>
            <td>152-2233-6555</td>
        </tr>
    </table>

    <div style="text-align: center;margin:20px 0px;">
        可以在嵌入一个地图插件进来
    </div>

    <div class="footer">
        <nav class="footer-bar">
            <div class="tab-item  mui-active">
                <a href="index.html">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
            </div>
            <div class="tab-item">
                <a href="search.html">
                    <span class="mui-icon mui-icon-search"></span>
                    <span class="mui-tab-label">搜索</span>
                </a>
            </div>
            <div class="tab-item">
                <a href="center.html">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </div>
        </nav>
    </div>

<script>
    var swiper = new Swiper(".mySwiper", {
        pagination: {
            el: ".swiper-pagination",
        },
    });
</script>