<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>云课堂</title>
<link href="/assets/home/css/mui.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/assets/home/css/swiper-bundle.css">
<link href="/assets/home/css/reset.css" rel="stylesheet" />
<link href="/assets/home/css/index.css" rel="stylesheet" />
<script src="/assets/home/js/jquery-1.9.1.min.js"></script>
<script src="/assets/home/js/mui.min.js"></script>
<script src="/assets/home/js/swiper-bundle.min.js"></script>
